.full-Page{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
    opacity: 0.2;
    z-index: -1;
}

body{
   background-image: url("/Extras/Imagenes/usic.jpg");
   background-repeat: no-repeat;
   background-size:cover;
   overflow:hidden; 
    margin: 0%;
    z-index: -2;
}

header{
    width: 100%;
    height:15%;
    float: right;
    position:relative;
    margin-top:0%;
}

section{
    position: absolute;
    top:20%;
    width: 100%;
    height: 80%;
}

header img{
 display: block;
}

input[type="submit"]:active 
{
    background-position: 0 209px;
    text-shadow: 0px 2px 2px #4d4d4d;
    -webkit-box-shadow: 0px 0px 0px #777;
    -moz-box-shadow: 0px 0px 0px #777;
    box-shadow: 0px 0px 0px #777;
}

input[type="radio"]{
    margin-top:1px;
    margin-left:120px;

}

.container-FormRegistro{
    margin-left: 40%;
    width: 30%;
    height: 70%;
    margin-top: 0;
    border-radius: 5px;
}

input[type="checkbox"]{	
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    width:15px;
    height:15px;
    background: #ececec;
    border: none;
    color:#ececec;
    cursor: pointer;
    display: inline-block;
    margin-left:50px;
    margin-top:1px !important;
}

.button1 {
    border-style:solid;
    border-width:0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    border-radius:6px;
    cursor:pointer;
    display:inine-block;
    font-style:normal;
    overflow: hidden;
    text-align: center;
    text-decoration:none;
    text-overflow:ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family:"ChunkFive";
    font-weight:400;
    font-size:90%;
    position:absolute;
    padding: 10px;
    color:white;
    width: 5%;
    height: 30%;
}

h1,h3{
    text-align: center;
    margin-left: 10%;
    color:white;
}

.buttonregistro{
    margin:1px;
    margin-left:50px !important;
    width:360px !important;
    height:40px !important;
    padding:0 !important;
    border-color:#ff87b1;
    background-color:#ffbad2;
}

.checkbox-styled {
    display: block; 
    margin: 40px 0 0 0;
    float: left;
}
input[type="text"],input[type="email"],input[type="password"],input[type="tel"]
{
    background-color:rgba(244,244,244,1);
    color:#0e0e0e;
    width:370px;
    border-radius:3px;
    padding:5px 10px;
    margin:1px 0px 0px 40px;
    display: block;
    text-align:center;
    font-size:13px;
    -webkit-transition-duration:0.25s;
    transition-duration:0.25s;
    -moz-transition-duration:0.25s;
    border:none;
    height:30px;

}
input[type="text"]:hover,input[type="email"]:hover,input[type="password"]:hover,input[type="tel"]:hover
{
    color:rgba(255,255,255,0.9);	
}

@-webkit-keyframes blink {
    from, to { box-shadow: 0 0 0 0 #FB6868}
    50% { box-shadow: 0 0 0 2px red; }
}
@keyframes blink {
    from, to {
        box-shadow: 0 0 0 0 red;
    }

    50% {
        box-shadow: 0 0 0 2px red;
    }
}


